In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('SP500.csv')#read as dataframe
print(df.shape)

(253, 7)

In [4]:
print(df.head(2)) #see the heading of df

         Date         Open         High          Low        Close  \
0  2019-01-16  2614.750000  2625.760010  2612.679932  2616.100098
1  2019-01-17  2609.280029  2645.060059  2606.360107  2635.959961

     Adj Close      Volume
0  2616.100098  3863770000
1  2635.959961  3772270000

In [5]:
print(df.columns.values) #heading of df output as a np.array
print(type(df.columns.values))

['Date' 'Open' 'High' 'Low' 'Close' 'Adj Close' 'Volume']
<class 'numpy.ndarray'>

In [8]:
np.where(df.columns.values == 'Close')[0][0]

4

In [9]:
Extract values from data frame

SyntaxError: invalid syntax (<ipython-input-9-d2eb7fdd9fe2>, line 1)

In [10]:
print(print(df['Close'][0:10]))
print{'\n'}
print(df['Close'])
print('\n')
print(type(df['Close'], ' '))

SyntaxError: invalid syntax (<ipython-input-10-3c8fdf484a85>, line 2)

In [11]:
print(df[['Open', 'Close']])

            Open        Close
0    2614.750000  2616.100098
1    2609.280029  2635.959961
2    2651.270020  2670.709961
3    2657.879883  2632.899902
4    2643.479980  2638.699951
5    2638.840088  2642.330078
6    2657.439941  2664.760010
7    2644.969971  2643.850098
8    2644.889893  2640.000000
9    2653.620117  2681.050049
10   2685.489990  2704.100098
11   2702.320068  2706.530029
12   2706.489990  2724.870117
13   2728.340088  2737.699951
14   2735.050049  2731.610107
15   2717.530029  2706.050049
16   2692.360107  2707.879883
17   2712.399902  2709.800049
18   2722.610107  2744.729980
19   2750.300049  2753.030029
20   2743.500000  2745.729980
21   2760.239990  2775.600098
22   2769.280029  2779.760010
23   2779.050049  2784.699951
24   2780.239990  2774.879883
25   2780.669922  2792.669922
26   2804.350098  2796.110107
27   2792.360107  2793.899902
28   2787.500000  2792.379883
29   2788.110107  2784.489990
..           ...          ...
223  3103.500000  3112.760010
224  3119.209961  3117.429932
225  3134.620117  3145.909912
226  3141.860107  3135.959961
227  3135.360107  3132.520020
228  3135.750000  3141.629883
229  3141.229980  3168.570068
230  3166.649902  3168.800049
231  3183.629883  3191.449951
232  3195.399902  3192.520020
233  3195.209961  3191.139893
234  3192.320068  3205.370117
235  3223.330078  3221.219971
236  3226.050049  3224.010010
237  3225.449951  3223.379883
238  3227.199951  3239.909912
239  3247.229980  3240.020020
240  3240.090088  3221.290039
241  3215.179932  3230.780029
242  3244.669922  3257.850098
243  3226.360107  3234.850098
244  3217.550049  3246.280029
245  3241.860107  3237.179932
246  3238.590088  3253.050049
247  3266.030029  3274.699951
248  3281.810059  3265.350098
249  3271.129883  3288.129883
250  3285.350098  3283.149902
251  3282.270020  3289.290039
252  3302.969971  3316.810059

[253 rows x 2 columns]

In [12]:
print(df.iloc[0:10,0:2].values)
print('\n')
print(type(df.iloc[0:10,0:2]),' ',type(df.iloc[0:10,0:2].values))

[['2019-01-16' 2614.75]
 ['2019-01-17' 2609.280029]
 ['2019-01-18' 2651.27002]
 ['2019-01-22' 2657.8798829999996]
 ['2019-01-23' 2643.47998]
 ['2019-01-24' 2638.840088]
 ['2019-01-25' 2657.439941]
 ['2019-01-28' 2644.969971]
 ['2019-01-29' 2644.889893]
 ['2019-01-30' 2653.6201170000004]]


<class 'pandas.core.frame.DataFrame'>   <class 'numpy.ndarray'>

In [13]:
print(df['Close'].mean())
print(df['Close'].var())
print(df['Close'].max())
print(df['Close'].min())
print(df['Close'].quantile(0.2))

2942.7973053952587
22165.29247142092
3316.810059
2616.100098
2816.647949

In [14]:
print(df[['Open','Close']].mean())
print(df[['Open','Close']].var())
print(df[['Open','Close']].max())
print(df[['Open','Close']].min())
print(df[['Open','Close']].quantile(0.2))

Open     2941.244235
Close    2942.797305
dtype: float64
Open     22130.713768
Close    22165.292471
dtype: float64
Open     3302.969971
Close    3316.810059
dtype: float64
Open     2609.280029
Close    2616.100098
dtype: float64
Open     2819.719971
Close    2816.647949
Name: 0.2, dtype: float64

In [15]:
print(df[['Open','Close']].cov())

               Open         Close
Open   22130.713768  22018.084836
Close  22018.084836  22165.292471

In [22]:
print(df.iloc[:,1:3].cov()) #change 'cov' to 'corr' for correlation

              Open          High
Open  22130.713768  21869.974432
High  21869.974432  21710.580664